

<%= simple_form_for(@event, html: {class: "form-horizontal"}) do |f| %>
  <% if @event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this song from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%=f.hidden_field :user_id, :value => current_user.id %>
 
    <%= f.input :artist ,:label => 'Event name / Artist' %>
    <%= f.input :time ,:label => 'time?' %>
   
    <%= f.input :date, :input_html => { :id => 'datepicker'} %>
    <%= f.input :price ,:label => 'How much $$$?' %>
    <%= f.input :description, :label => 'What?' , :input_html => { :class => 'text_area_custom' } %>
    <%= f.input :artist_name, :label => 'Artist' , :input_html => { :id => 'artist_name' } %>
    <%= f.input :sc_url, collection: [@event.sc_url], :prompt => "Select the track", input_html: { style: 'width: 100%' , :id => 'sc_url'}   %>
    
 
   
    </script>
  </br>
  
    <%= f.button :submit %>
  
<% end %>